<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title inertia>{{title}}</title>

  <link rel="preconnect" href="https://fonts.bunny.net">
  <link href="https://fonts.bunny.net/css?family=instrument-sans:400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet" />

  <style>
    :root {
      --sand-1: #fdfdfc;
      --sand-2: #f9f9f8;
      --sand-3: #f1f0ef;
      --sand-4: #e9e8e6;
      --sand-5: #e2e1de;
      --sand-6: #dad9d6;
      --sand-7: #cfceca;
      --sand-8: #bcbbb5;
      --sand-9: #8d8d86;
      --sand-10: #82827c;
      --sand-11: #63635e;
      --sand-12: #21201c;
    }
  </style>

  @vite(['inertia/app/app.ts', `inertia/pages/${page.component}.svelte`])
  @inertiaHead()
</head>

<body class="min-h-screen w-screen font-sans">
  @inertia()
</body>

</html>
